<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <title>Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b23e034432ccea604a12b6f38e505241&libraries=services,clusterer,drawing"></script>
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <style>

    body{
        background-color:rgba(221,212,195,0.31);
        font-family: 'Jeju Gothic', sans-serif;
        text-align:center;
    }
    #title_1{
        width:300px;
        text-align:center;
        border: 5px solid #beb8a8;
        padding: 0.4em 1em 0.3em 1em;
        border-radius: 15px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    }
    #hospitalTable{
        margin:auto;
    }
    #map{
        float:left;
        margin-left: 3%;
        width:30%;
    }
    #table{
        float:right;
        margin-right: 3%;
        width:60%;
    }

    </style>
    <script style="text/javascript">
        function surveyBtn() {
            var surveyForm = document.surveyForm;
            surveyForm.submit();
        }

    </script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%; ">
    <div class="container-fluid">
        <a class="navbar-brand" href="mainpage"><img alt="Brand" src="img/33.png" width="100px" height="44px"
                                                     style="padding-bottom:5px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="hospitalpage"
                       style="font-size:18px; padding-right:35px;padding-left:35px;">백신 예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservationinfo" style="font-size:18px; padding-right:35px;">예약 확인/취소</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news" style="font-size:18px;padding-right:35px;">최신 정보 확인</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="myinfo" style="font-size:14px;">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="font-size:14px;">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<span th:if="${state != 5}">
    <center style="padding-top: 18%;">
        <p style="font-size: 18px; width: 50%; border-radius: 15px 15px 15px 0; border-bottom: 5px solid rgb(50 93 136 / 50%); padding: 0.5em; background: rgb(50 93 136 / 25%);">
        2차 접종 완료 후 14일이 경과되어야 설문조사에 응답할 수 있습니다.</p>
        <input type="button" class="btn btn-secondary" style="width: 150px;" value="뒤로가기" onclick="location.href='mainpage'">
    </center>
</span>
<span th:if="${state == 5}">
<center>
    <h3>
        <p id="title_1"><b>설문조사</b></p>
        <br>
        <p style="font-size: 18px; color: #828282;">2차 접종 이후 14일이 경과된 접종자를 대상으로 한 설문조사입니다.</p>
    </h3>
</center>
<form class="survey" name="surveyForm" id="surveyForm" action="survey" method="post">
    <div class="form-check" style="font-size: 14px;">
        <p th:text="'1차 접종 백신 : ' + ${vac_1}" style="font-size: 15px;"></p>
        <div>
            <strong>1차 접종 당일 증상</strong>
            <input type="radio" name="1_1" value="1"> 발열
            <input type="radio" name="1_1" value="2"> 두통
            <input type="radio" name="1_1" value="3"> 오한
            <input type="radio" name="1_1" value="4"> 피로
            <input type="radio" name="1_1" value="5"> 주사 부위의 통증
            <input type="radio" name="1_1" value="6"> 메스꺼움
            <input type="radio" name="1_1" value="7"> 근육통
            <input type="radio" name="1_1" value="8"> 증상 없음
            <br>
            <br>
        </div>
        <div>
            <strong>1차 접종 3일 후 증상</strong>
            <input type="radio" name="1_3" value="1"> 발열
            <input type="radio" name="1_3" value="2"> 두통
            <input type="radio" name="1_3" value="3"> 오한
            <input type="radio" name="1_3" value="4"> 피로
            <input type="radio" name="1_3" value="5"> 주사 부위의 통증
            <input type="radio" name="1_3" value="6"> 메스꺼움
            <input type="radio" name="1_3" value="7"> 근육통
            <input type="radio" name="1_3" value="8"> 증상 없음
            <br>
            <br>
        </div>
        <div>
            <strong>1차 접종 7일 후 증상</strong>
            <input type="radio" name="1_7" value="1"> 발열
            <input type="radio" name="1_7" value="2"> 두통
            <input type="radio" name="1_7" value="3"> 오한
            <input type="radio" name="1_7" value="4"> 피로
            <input type="radio" name="1_7" value="5"> 주사 부위의 통증
            <input type="radio" name="1_7" value="6"> 메스꺼움
            <input type="radio" name="1_7" value="7"> 근육통
            <input type="radio" name="1_7" value="8"> 증상 없음
            <br>
            <br>
            <div>
                <br>
                <p th:text="'2차 접종 백신 : ' + ${vac_2}" style="font-size: 15px;"></p>
                <strong>2차 접종 당일 증상</strong>
                <input type="radio" name="2_1" value="1"> 발열
                <input type="radio" name="2_1" value="2"> 두통
                <input type="radio" name="2_1" value="3"> 오한
                <input type="radio" name="2_1" value="4"> 피로
                <input type="radio" name="2_1" value="5"> 주사 부위의 통증
                <input type="radio" name="2_1" value="6"> 메스꺼움
                <input type="radio" name="2_1" value="7"> 근육통
                <input type="radio" name="2_1" value="8"> 증상 없음
                <br>
                <br>
            </div>
            <div>
                <strong>2차 접종 3일 후 증상</strong>
                <input type="radio" name="2_3" value="1"> 발열
                <input type="radio" name="2_3" value="2"> 두통
                <input type="radio" name="2_3" value="3"> 오한
                <input type="radio" name="2_3" value="4"> 피로
                <input type="radio" name="2_3" value="5"> 주사 부위의 통증
                <input type="radio" name="2_3" value="6"> 메스꺼움
                <input type="radio" name="2_3" value="7"> 근육통
                <input type="radio" name="2_3" value="8"> 증상 없음
                <br>
                <br>
            </div>
            <div>
                <strong>2차 접종 7일 후 증상</strong>
                <input type="radio" name="2_7" value="1"> 발열
                <input type="radio" name="2_7" value="2"> 두통
                <input type="radio" name="2_7" value="3"> 오한
                <input type="radio" name="2_7" value="4"> 피로
                <input type="radio" name="2_7" value="5"> 주사 부위의 통증
                <input type="radio" name="2_7" value="6"> 메스꺼움
                <input type="radio" name="2_7" value="7"> 근육통
                <input type="radio" name="2_7" value="8"> 증상 없음
                <br>
                <br>
            </div>
            <br>
            <div class="survey_btn">
                <input type="button" class="btn btn-dark" value="설문 제출하기" onclick="surveyBtn()">
            </div>
        </div>
    </div>
</form>
</span>
</body>