<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <title>Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b23e034432ccea604a12b6f38e505241&libraries=services,clusterer,drawing"></script>
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <style>
        .container{
            width: 100%;
            height: 60%;
            margin: 0 auto;
            padding: 5px;

        }
        div.tapp {
            box-sizing: border-box;
            }


        ul.tabs{
            margin-top: 40px;
            margin-bottom: 5px;
            padding: 0px;
            list-style: none;
        }
        ul.tabs li{
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }

        ul.tabs li.current{
            background: #cfcac2;
            color: #222;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }

        .tab-content{
            display: none;
            background: #cfcac2;
            padding: 15px;
            height:50%
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }

        .tab-content.current{
            display: inherit;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }

    body{
        background-color:rgba(221,212,195,0.31);
        font-family: 'Jeju Gothic', sans-serif;
        text-align:center;
        margin-bottom: 50px;
    }
    #title_1{
        width:300px;
        text-align:center;
        border: 5px solid #beb8a8;
        padding: 0.4em 1em 0.3em 1em;
        border-radius: 15px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    }

    .wrapper {
      display: grid;
      grid-template-columns: 338px 338px 338px;
      grid-template-rows: 175px 175px;
      grid-gap: 40px;
      color: #444;
    }

    .box {
      color: #444;
      border: 2px solid #8e8c84;
      border-radius: 5px;
      padding: 5px;
    }

    .a {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      .b {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      .c {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      .d {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .e {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .f {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }


    </style>
    <script th:inline="javascript" style="text/javascript">
        function surveyBtn() {
            var surveyState = [[${surveyState}]];
            console.log(surveyState);
            if(surveyState == 1) {
                alert('설문 응답 내역이 이미 존재하므로 재응답이 불가합니다.');
            } else {
                location.href = "survey";
            }
        }

    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%; ">
    <div class="container-fluid">
        <a class="navbar-brand" href="mainpage"><img alt="Brand" src="img/33.png" width="100px" height="44px"
                                                     style="padding-bottom:5px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="hospitalpage"
                       style="font-size:18px; padding-right:35px;padding-left:35px;">백신 예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservationinfo" style="font-size:18px; padding-right:35px;">예약 확인/취소</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news" style="font-size:18px;padding-right:35px;">관련 정보 및 안내사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="surveystatistic" style="font-size:18px;padding-right:35px;">부작용 설문조사 및 통계</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="myinfo" style="font-size:14px;">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="font-size:14px;">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<center>
    <h3>
        <p id="title_1"><b>설문조사 통계</b></p>
    </h3>
    <br>
    <p style="color: #444; font-size: 14px; margin: 0">접종 완료자를 대상으로 한 설문조사 결과를 바탕으로 각 백신 종류 별, 일자 별로 가장 많은 응답을 기록한 3개의
        후유증을 나타내었습니다.</p>
    <br>
    <p style="color: red; font-size: 14px; margin: 0">아직 설문조사를 완료하지 않았다면</p>
    <button type="button" class="btn btn-lg btn-dark disabled" onclick="surveyBtn()" style="width: 230px; font-size: 14px;">설문조사 하러가기</button>
</center>
<div class="tapp">
    <script>
        $(document).ready(function(){

            $('ul.tabs li').click(function(){
                var tab_id = $(this).attr('data-tab');

                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#"+tab_id).addClass('current');
            })
        })


    </script>
    <div class="container">
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">화이자</li>
            <li class="tab-link" data-tab="tab-2">모더나</li>
            <li class="tab-link" data-tab="tab-3">아스트라제네카</li>
        </ul>
        <center>
            <div id="tab-1" class="tab-content current" style="height: 420px">
                <div class="wrapper">
                    <div class="box a">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    1차 접종 당일
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${pfizer_day1_1}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box b">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    1차 접종 3일 후
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${pfizer_day3_1}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box c">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    1차 접종 7일 후
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${pfizer_day7_1}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box d">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    2차 접종 당일
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${pfizer_day1_2}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box e">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    2차 접종 3일 후
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${pfizer_day3_2}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box f">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    2차 접종 7일 후
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${pfizer_day7_2}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="tab-2" class="tab-content" style="height: 420px">
                <div class="wrapper">
                    <div class="box a">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    1차 접종 당일
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${az_day1_1}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box b">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    1차 접종 3일 후
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${az_day3_1}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box c">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    1차 접종 7일 후
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${az_day7_1}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box d">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    2차 접종 당일
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${az_day1_2}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box e">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    2차 접종 3일 후
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${az_day3_2}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box f">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    2차 접종 7일 후
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${az_day7_2}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="tab-3" class="tab-content" style="height: 420px">
                <div class="wrapper">
                    <div class="box a">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    1차 접종 당일
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${mo_day1_1}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box b">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    1차 접종 3일 후
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${mo_day3_1}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box c">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    1차 접종 7일 후
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${mo_day7_1}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box d">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    2차 접종 당일
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${mo_day1_2}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box e">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    2차 접종 3일 후
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${mo_day3_2}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box f">
                        <table style="width: 100%; height: 80%">
                            <thead>
                            <tr style="margin:0 auto;text-align:center">
                                <th scope="col"
                                    style="text-weight:bold; font-size: 25px; text-align: center; font-weight: bold; text-decoration: underline; text-decoration-color: #f8f5f0;">
                                    2차 접종 7일 후
                                </th>
                            </tr>
                            </thead>
                            <tbody th:each="p : ${mo_day7_2}">
                            <tr>
                                <td style="font-size: 18px; text-align: center; align: center;"><p th:text="${p}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>
</body>