<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation.vaccine.mapper.Mapper">

    <!--resutMap-->
    <resultMap type="reservation.vaccine.domain.HospitalLocation" id="HospitalLocation">
        <result column="rest_Haddr" property="rest_Haddr"/>
    </resultMap>

    <resultMap type="reservation.vaccine.domain.Vaccine" id="Vaccine">
        <result column="Vname" property="Vname"/>
        <result column="Vid" property="Vid"/>
    </resultMap>

    <resultMap type="reservation.vaccine.domain.Hospital" id="Hospital">
        <result column="Hid" property="Hid"/>
        <result column="Hname" property="Hname"/>
        <result column="Htel" property="Htel"/>
        <result column="rest" property="rest"/>
        <collection property="hospitalLocation" resultMap="HospitalLocation"/>
        <collection property="vaccine" resultMap="Vaccine"/>
    </resultMap>

    <!--user-->
    <select id="findAll" resultType="reservation.vaccine.domain.UserInfo">
        select * from user_info
    </select>

    <select id="findUserByIdPw" resultType="reservation.vaccine.domain.UserInfo" parameterType="map">
        select * from user_info where ID = #{ID} and PW = #{PW}
    </select>

    <select id="findUserById" resultType="reservation.vaccine.domain.UserInfo" parameterType="String">
        select * from user_info where ID = #{ID}
    </select>

    <select id="insertUser" parameterType="reservation.vaccine.domain.UserInfo">
        insert into user_info (Uname, ID, PW, Lid, rest_addr, sex, phone_num, age, ssn1, ssn2, Email)
        values(#{Uname}, #{ID}, #{PW}, #{Lid}, #{rest_addr}, #{sex}, #{phone_num}, #{age}, #{ssn1}, #{ssn2}, #{Email})
    </select>

    <select id="modifyUser" parameterType="reservation.vaccine.domain.UserInfo">
        UPDATE user_info
        SET Uname = #{Uname}, PW = #{PW}, Lid = #{Lid}, rest_addr = #{rest_addr}, phone_num = #{phone_num}, Email = #{Email}
        WHERE ID = #{ID};
    </select>

    <select id="updateUserState" parameterType="reservation.vaccine.domain.UserInfo">
        UPDATE user_info
        SET state = #{state}
        WHERE Uid = #{Uid};
    </select>

    <select id="updateUserRsv2nd" parameterType="reservation.vaccine.domain.UserRsv">
        UPDATE user_rsv
        SET Vid_2 = #{Vid_2}, Hid_2 = #{Hid_2}, date_2 = #{date_2}, hour_2 = #{hour_2}
        WHERE Uid = #{Uid};
    </select>

    <!--Reservation-->
    <select id="insertRsv" parameterType="reservation.vaccine.domain.UserRsv">
        insert into user_rsv (Uid, Vid_1, Hid_1, date_1, hour_1, Vid_2, Hid_2, date_2, hour_2)
        values(#{Uid}, #{Vid_1}, #{Hid_1}, #{date_1}, #{hour_1}, #{Vid_2}, #{Hid_2}, #{date_2}, #{hour_2})
    </select>

    <select id="findUserRsv" resultType="reservation.vaccine.domain.UserRsv" parameterType="int">
        select *
        from user_rsv
        where Uid = #{Uid}
    </select>

    <select id="cancelAll" parameterType="int">
        delete from user_rsv where Uid = #{Uid};
    </select>

    <select id="cancelSecond" parameterType="int">
        UPDATE user_rsv
        SET Vid_2 = null, Hid_2 = null, date_2 = null, hour_2 = null
        WHERE Uid = #{Uid};
    </select>

    <select id="checkID" resultType="int" parameterType="String">
        select count(ID) from user_info where ID = #{ID}
    </select>


    <!--hospital-->
    <select id="findAllHospitalByUid" resultMap="Hospital" parameterType="int">
        select h.Hid, h.Hname, hl.rest_Haddr, h.Htel, h.rest, v.Vname
        from hospital as h, hospital_location as hl, user_info as ui, vaccine as v
        where h.Hid = hl.Hid and hl.Lid = ui.Lid and ui.Uid = #{Uid} and h.Vid = v.Vid
        order by h.Hid;
    </select>

    <select id="findHospitalByHid" resultMap="Hospital" parameterType="int">
        select h.Hid, h.Hname, hl.rest_Haddr, h.Htel, h.rest, v.Vname, v.Vid
        from hospital as h, hospital_location as hl, vaccine as v
        where h.Hid = hl.Hid and h.Vid = v.Vid and h.Hid = #{Hid}
    </select>

    <select id="reservation" parameterType="int">
        update hospital set rest = rest - 2 where Hid = #{Hid};
    </select>

    <select id="reservation2nd" parameterType="int">
        update hospital set rest = rest - 1 where Hid = #{Hid};
    </select>

    <select id="cancelBackAll" parameterType="int">
        update hospital set rest = rest + 2 where Hid = #{Hid};
    </select>

    <select id="cancelBackAllEach" parameterType="int">
        update hospital set rest = rest + 1 where Hid = #{Hid};
    </select>

    <select id="cancelBack2nd" parameterType="int">
        update hospital set rest = rest + 1 where Hid = #{Hid};
    </select>

</mapper>