<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <title>Hospital List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b23e034432ccea604a12b6f38e505241&libraries=services,clusterer,drawing"></script>
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <style>

    body{
        background-color:rgba(221,212,195,0.31);
        font-family: 'Jeju Gothic', sans-serif;
    }
    #title_1{
        width:300px;
        text-align:center;
        border: 5px solid #beb8a8;
        padding: 0.4em 1em 0.3em 1em;
        border-radius: 15px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    }
    #hospitalTable{
        margin:auto;
    }
    #map{
        float:left;
        margin-left: 3%;
        width:30%;
    }
    #table{
        float:right;
        margin-right: 3%;
        width:60%;
    }
    </style>
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%; ">
    <div class="container-fluid">
        <a class="navbar-brand" href="mainpage"><img alt="Brand" src="img/33.png" width="100px" height="44px"
                                                     style="padding-bottom:5px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="hospitalpage"
                       style="font-size:18px; padding-right:35px;padding-left:35px;">백신 예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservationinfo" style="font-size:18px; padding-right:35px;">예약 정보 확인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news" style="font-size:18px;padding-right:35px;">최신 정보 확인</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="myinfo" style="font-size:14px;">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="font-size:14px;">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<center>
    <h3>
        <p id="title_1"><b>예약 가능 병원 목록</b></p>
        <small class="text-muted"><p th:text="${user} + '님이 거주하시는 지역의 병원 목록입니다.'">병원입니다.</p></small>
    </h3>
    </div>
</center>

<hr style="border: 2px">
<div id="map" style="height:500px;"></div>
<script th:inline="javascript">
let name = [[${full_loc}]];
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level:7// 지도의 확대 레벨
    };

// 지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption);

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch(name, function(result, status) {

    // 정상적으로 검색이 완료됐으면
     if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
        console.log(coords);

        var imageSrc = 'img/loc.png', // 마커이미지의 주소입니다
        imageSize = new kakao.maps.Size(54, 54), // 마커이미지의 크기입니다
        imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption); // 마커가 표시될 위치입니다


        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            image: markerImage,
            position: coords
        });

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    }
});
    [[${hospitals}]].forEach(item => {
    console.log(item.hospitalLocation.rest_Haddr);

    console.log(item.hname);

    var geocoder2 = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder2.addressSearch(item.hospitalLocation.rest_Haddr, function(result2, status2) {

        // 정상적으로 검색이 완료됐으면
         if (status2 === kakao.maps.services.Status.OK) {

            var coords2 = new kakao.maps.LatLng(result2[0].y, result2[0].x);
            console.log(coords2);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords2,
                clickable: true
            });

            // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
            var iwContent = '<div style="padding:5px;font-size:10px;">'+item.hname+'<br>'+'잔여백신:'+item.rest+'</div>'
                iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
            });
            kakao.maps.event.addListener(marker, 'click', function() {
                // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
                infowindow.open(map, marker);
            });
        }
    });
})

</script>
<div id="table">
    <table id="hospitalTable" class="table table-hover">
        <thead>
        <tr style="margin:0 auto;text-align:center">
            <th scope="col">이름</th>
            <th scope="col">주소</th>
            <th scope="col">전화번호</th>
            <th scope="col">접종백신 종류</th>
            <th scope="col">잔여백신 수</th>
            <th scope="col">예약하기</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="hospital : ${hospitals}" style="margin:0 auto;text-align:center">
            <form class="login" action="/reservationpage" method="post">
                <input type="hidden" id="Hid" name="Hid" th:value=${hospital.Hid}>
                <td>
                    <p th:text="${hospital.Hname}"></p>
                    <p th:text="'⭐ ' + ${hospital.avgStar} + ' / 5.0'"></p>
                </td>
                <td th:text="${hospital.hospitalLocation.rest_Haddr}">rest_Haddr</td>

                <td th:text="${hospital.Htel}">Htel</td>
                <td th:text="${hospital.vaccine.Vname}">Vname</td>
                <td th:text="${hospital.rest}">rest</td>
                <td>
                    <span th:if="${hospital.rest == 0}">
                        <button name="resbutton" type="submit" onclick="location.href='reservationpage'"
                                value="예약하기" style="width: 110%;" disabled>예약하기
                        </button>
                        <p style="color: red; font-size: 12px;">예약 불가</p>
                    </span>
                    <span th:if="${hospital.rest != 0}">
                        <button name="resbutton" type="submit" onclick="location.href='reservationpage'"
                                value="예약하기" style="width: 110%;">예약하기
                        </button>
                    </span>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>

</body>