<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <title>Hospital List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h2>병원 리스트 페이지</h2>
<div>
    <h4><p th:text="${user} + '님이 거주하시는 지역의 병원 리스트입니다.'">병원입니다.</p></h4>
    <input type="button" onclick="location.href='mainpage'" value="메인으로 돌아가기">
</div>
<table id="hospitalTable">
    <thead>
    <tr>
        <th>이름</th>
        <th>주소</th>
        <th>전화번호</th>
        <th>접종백신 종류</th>
        <th>잔여백신 수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hospital : ${hospitals}">
        <form class="login" action="/reservationpage" method="post">
            <input type="hidden" id="Hid" name="Hid" th:value=${hospital.Hid}>
            <td th:text="${hospital.Hname}">Hname</td>
            <td th:text="${hospital.hospitalLocation.rest_Haddr}">rest_Haddr</td>
            <td th:text="${hospital.Htel}">Htel</td>
            <td th:text="${hospital.vaccine.Vname}">Vname</td>
            <td th:text="${hospital.rest}">rest</td>
            <td>
                <button type="submit" onclick="location.href='reservationpage'" value="예약하기">예약하기</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>
</body>