<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Main Page</title>
    <style>

        #wrap{
            display: grid;
            place-items: center;
            min-height: 80vh;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="mainpage"><img alt="Brand" src="img/33.png" width="100px" height="44px" style="padding-bottom:5px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="hospitalpage" style="font-size:18px; padding-right:35px;padding-left:35px;" >백신 예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservationinfo" style="font-size:18px; padding-right:35px;">예약 정보 확인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news" style="font-size:18px;padding-right:35px;">최신 정보 확인</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="myinfo" style="font-size:14px;">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="font-size:14px;">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<wrap id="wrap">
    <h4>Welcome to Main Page</h4>
    <p th:text="'안녕하세요. ' + ${Uname} + '님'">안녕하세요. 님</p>
    <p th:if="${state} == 0">백신 예약 내역이 없습니다.</p>
    <p th:if="${state} == 1">미접종자입니다.</p>
    <p th:if="${state} == 2">1차 접종 후 14일 이전입니다.</p>
    <p th:if="${state} == 3">1차 접종 후 14일이 경과되었습니다.</p>
    <p th:if="${state} == 4">2차 접종 후 14일 이전입니다.</p>
    <p th:if="${state} == 5">2차 접종 후 14일이 경과되었습니다.</p>
    <div class="myinfo_button">
        <input type="button" onclick="location.href='myinfo'" value="내 정보 확인">
    </div>
    <div class="hospitalpage_button">
        <input type="button" onclick="location.href='hospitalpage'" value="백신 예약하기">
    </div>
    <div class="resrvinfo_button">
        <input type="button" onclick="location.href='reservationinfo'" value="예약 정보 확인">
    </div>
    <div class="review_button">
        <input type="button" onclick="location.href='review'" value="접종 병원 평가하기">
    </div>
    <div class="news_button">
        <input type="button" onclick="location.href='news'" value="최신 정보 확인">
    </div>
    <div class="visual_button">
        <input type="button" onclick="location.href='visualization'" value="Visualization">
    </div>

</wrap>
</body>
</html>