<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h4>Welcome to Main Page</h4>
<p th:text="'안녕하세요. ' + ${Uname} + '님'">안녕하세요. 님</p>
<br>
<div class="myinfo_button">
    <input type="button" onclick="location.href='myinfo'" value="내 정보 확인">
</div>
<div class="hospitalpage_button">
    <input type="button" onclick="location.href='hospitalpage'" value="백신 예약하기">
</div>
<div class="news_button">
    <input type="button" onclick="location.href='news'" value="최신 정보 확인">
</div>
</body>
</html>