<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
    <title>News</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        #title_1{
            width:300px;
            text-align:center;
            border: 5px solid #beb8a8;
            padding: 0.4em 1em 0.3em 1em;
            border-radius: 15px;
            box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
        }
        body{
            background-color:rgba(221,212,195,0.31);
            font-family: 'Jeju Gothic', sans-serif;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position:fixed;width: 100%;z-index:1; ">
    <div class="container-fluid">
        <a class="navbar-brand" href="mainpage"><img alt="Brand" src="img/33.png" width="100px" height="44px"
                                                     style="padding-bottom:5px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="hospitalpage"
                       style="font-size:18px; padding-right:35px;padding-left:35px;">백신 예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservationinfo" style="font-size:18px; padding-right:35px;">예약 정보 확인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news" style="font-size:18px;padding-right:35px;">관련 정보 및 안내사항</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="myinfo" style="font-size:14px;">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="font-size:14px;">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<p id="title_1">최신 현황 확인 페이지</p>
<div class="container" style="padding-top: 50px;">
    <h1 class="display-4" style="color: gray;">오늘의 코로나 확진자 현황</h1>
    <div class="jumbotron" style="height: 200px">
        <div style="float: left; width: 500px;">
            <h1 class="display-4" th:text="${koreaStats[0].alltotal}"></h1>
            <p class="lead">총 확진자</p>
        </div>
        <hr style="float: left; border: 0.3px solid black; width: 0.1px; height: 60px;">
        <div style="float:left; padding-left: 50px;">
            <h1 class="display-4" th:text="${koreaStats[0].daytotal}"></h1>
            <p class="lead" style="text-align: center;">오늘의 확진자</p>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>지역</th>
            <th>확진환자수(전일 대비 증감량)</th>
            <th>총 확진환자수</th>
            <th>총 격리해제수</th>
            <th>총 사망자</th>
            <th>인구 10만 명당 발생률</th>
        </tr>
        <tr th:each="stat : ${koreaStats} ">
            <td th:text="${stat.country}"></td>
            <td th:text="${stat.daytotal}">0</td>
            <td th:text="${stat.alltotal}">0</td>
            <td th:text="${stat.end}">0</td>
            <td th:text="${stat.death}">0</td>
            <td th:text="${stat.incident}">0</td>
        </tr>
    </table>
</div>
</body>
</html>