<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
</head>
<body>
<h1>병원 백신 예약 페이지</h1>
<form class="reservation" action="/reservation" method="post">
    <input type="hidden" id="Hid" name="Hid" th:value=${hospital.Hid}>
    <input type="hidden" id="Vid" name="Vid" th:value=${hospital.vaccine.Vid}>
    <input type="hidden" id="Hname" name="Hname" th:value=${hospital.Hname}>
    <h2 th:text="${hospital.Hname}">병원 이름</h2>
    <h3 th:text="${hospital.hospitalLocation.rest_Haddr}">병원 주소</h3>
    <h3 th:text="${hospital.Htel}">병원 전화번호</h3>
    <h4 th:text="${hospital.vaccine.Vname}">백신 종류</h4>
    <h4 th:text="${hospital.rest} + '개'">잔여 백신 수</h4>

    <div>
        <h4>예약 날짜</h4>
        <input name="date" autocomplete="off" readonly="readonly" placeholder="예약 날짜 선택">
    </div>
    <script>
        const config = {
            dateFormat: 'yy-mm-dd',
            showOn : "button",
            buttonText: "날짜 선택",
            minDate: 0,
            maxDate: +30
	    }

        $(function() {
          $( "input[name='date']" ).datepicker(config);
        });
    </script>
    <h4>예약 시간</h4>
    <select name="time">
        <option value="9">오전 9시</option>
        <option value="10">오전 10시</option>
        <option value="11">오전 11시</option>
        <option value="12">오후 12시</option>
        <option value="14">오후 2시</option>
        <option value="15">오후 3시</option>
        <option value="16">오후 4시</option>
        <option value="17">오후 5시</option>
        <option value="18">오후 6시</option>
    </select>
    <button type="submit" onclick="location.href='reservation'" value="예약하기">예약하기</button>
</form>

</body>
