<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">

    <style>
        body{
        background-color:rgba(221,212,195,0.31);
        font-family: 'Jeju Gothic', sans-serif;
    }

    #title_1{
        width:350px;
        text-align:center;
        border: 5px solid #beb8a8;
        padding: 0.4em 1em 0.3em 1em;
        border-radius: 15px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="mainpage"><img alt="Brand" src="img/33.png" width="100px" height="44px"
                                                     style="padding-bottom:5px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="hospitalpage"
                       style="font-size:18px; padding-right:35px;padding-left:35px;">백신 예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservationinfo" style="font-size:18px; padding-right:35px;">예약 정보 확인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news" style="font-size:18px;padding-right:35px;">최신 정보 확인</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="myinfo" style="font-size:14px;">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="font-size:14px;">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<center>
    <div>
        <h3>
            <p id="title_1">
                <b>1차/2차 백신 예약 페이지</b></p>
        </h3>
        <p style="color: red; font-size: 12px;">※ 1차/2차 백신이 함께 에약됩니다. 2차 백신은 예약 날짜 한 달 후로 자동 예약되며 예약 시간은 1차/2차 동일합니다. ※</p>
    </div>
</center>
<form name="reservation" class="reservation" action="/reservation" method="post">
    <input type="hidden" id="Hid" name="Hid" th:value=${hospital.Hid}>
    <input type="hidden" id="Vid" name="Vid" th:value=${hospital.vaccine.Vid}>
    <input type="hidden" id="Hname" name="Hname" th:value=${hospital.Hname}>
    <div style="float: left; width: 50%; padding-left: 5%">
        <table style="width: 100%;">
            <tr>
                <td th:text="${hospital.Hname}"
                    style="text-align: center; font-weight: bold; width: 50%; font-size: 25px;
                             text-decoration: underline; text-decoration-color: #d6cdbf;">병원 이름
                </td>
                <td rowspan="3" style="border-left: 1px solid black; text-align: center; width: 50%">
                    <p th:text="${hospital.vaccine.Vname}" style="text-align: center; font-size: 18px;">백신 종류</p>
                    <p th:text="'잔여백신 : ' + ${hospital.rest} + '개'" style="text-align: center; font-size: 18px;">잔여 백신
                        수</p>
                </td>
            </tr>
            <tr>
                <td th:text="${hospital.hospitalLocation.rest_Haddr}" style="text-align: center; font-size: 15px;"></td>
            </tr>
            <tr>
                <td th:text="${hospital.Htel}" style="text-align: center; font-size: 15px;"></td>
            </tr>
        </table>
        <div style="padding-top: 5%;">
            <p th:text="'⭐ ' + ${avgStar}"
               style="font-size: 20px; padding-left: 10%; padding-right: 10%; text-align: center;">별점
            </p>
            <center>
                <h4>
                    <p style="margin: 0; width:200px; text-align: center; align: center;
                        border: 4px solid #d6cdbf; padding: 0.3em 1em; border-radius: 2px; font-size: 14px;">
                        <b>리뷰</b>
                    </p>
                </h4>
            </center>
        </div>
        <div style="overflow-y:auto; overflow-x:hidden; width:100%; height:300px; border: 4px solid gray;
                        padding-left: 5%; padding-right: 5%; padding-top: 3%; padding-bottom: 3%">
            <span th:if="${reviews != null}">
                <tr th:each="review : ${reviews}">
                    <td>
                        <p th:text="'✏ ' + ${review}" style="font-size: 16px; margin: 15px;"></p>
                    </td>
                </tr>
            </span>
            <span th:if="${reviews == null}">
                <center>
                    <p style="text-align: center; font-size: 16px; font-weight: bold; padding-top: 15%; color: #828282;">등록된 리뷰가 없습니다.</p>
                </center>
            </span>
        </div>
    </div>

    <div style="float: right; width: 50%; padding-left: 5%; padding-right: 5%;">
        <p style="font-size: 20px; font-weight: bold;">예약 날짜를 선택하세요.</p>
        <input name="date" style="width: 50%;" placeholder="예약 날짜 선택">

        <script th:inline="javascript">
             const config = {
                dateFormat: 'yy-mm-dd',
                showOn : "button",
                buttonImage: "img/dateButton.png",
                buttonImageOnly: true,
                minDate: 0,
                maxDate: +30
            }

            $(function() {
                $( "input[name='date']" ).datepicker(config);
            });
        </script>

        <div style="padding-top: 250px">
            <p style="font-size: 20px; font-weight: bold;">예약 시간을 선택하세요.</p>
            <select id="time" name="time" style="width: 50%; height: 120%;">
                <option value="9">오전 9시</option>
                <option value="10">오전 10시</option>
                <option value="11">오전 11시</option>
                <option value="12">오후 12시</option>
                <option value="14">오후 2시</option>
                <option value="15">오후 3시</option>
                <option value="16">오후 4시</option>
                <option value="17">오후 5시</option>
                <option value="18">오후 6시</option>
            </select>
        </div>
        <div style="padding-top: 7%;"></div>
        <div class="reservationBtn">
            <input type="button" value="예약하기" class="btn btn-dark"
                   style="width: 90%; height: 40px; border-radius: 1em; text-align: center; font-size: 16px"
                   onclick="reservationBtn()">
        </div>
        <script type="text/javascript">
                    function reservationBtn() {
                        var reservation = document.reservation;
                        var date = reservation.date.value;
                        var Hname = reservation.Hname.value;

                        if (!date) {
                            alert("예약 날짜를 선택하세요.");
                        } else {
                            var today = new Date();
                            var todayYear = today.getFullYear();
                            var todayMonth = today.getMonth() + 1;
                            var todayDate = today.getDate();

                            var select = new Date(date);
                            var selectYear = select.getFullYear();
                            var selectMonth = select.getMonth() + 1;
                            var selectDate = select.getDate();

                            var time = document.getElementById("time");
                            var selected = time.options[time.selectedIndex].value;

                            if(todayYear == selectYear && todayMonth == selectMonth && todayDate == selectDate) {
                                var todayHours = today.getHours();
                                console.log(todayHours);
                                console.log(selected);
                                if(todayHours >= selected) {
                                    alert("현재 시각 이후부터 예약 가능합니다.");
                                } else {
                                    alert('1차/2차 백신 예약 성공 : ' + Hname);
                                    reservation.submit();
                                }
                            } else {
                                alert('1차/2차 백신 예약 성공 : ' + Hname);
                                reservation.submit();
                            }
                        }
                    };
        </script>
    </div>
</form>
</body>