<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visualization</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="mainpage"><img alt="Brand" src="img/33.png" width="100px" height="44px" style="padding-bottom:5px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="hospitalpage" style="font-size:18px; padding-right:35px;padding-left:35px;" >백신 예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservationinfo" style="font-size:18px; padding-right:35px;">예약 정보 확인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news" style="font-size:18px;padding-right:35px;">최신 정보 확인</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="myinfo" style="font-size:14px;">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="font-size:14px;">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div style="padding-top: 75px;">
<h2>지역별 접종률</h2>
<div id="columnchart" style="width: 700px; height: 400px"></div>
<script th:inline="javascript">
        google.charts.load('current', {packages : ['geochart']});
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var real_data = [[${locationData}]];
            console.log(real_data);

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'location');
            data.addColumn('number', '접종완료자 비율');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : '지역별 접종 완료자',
                hAxis : {
                    title : '지역',
                },
                vAxis : {
                    title : '접종 완료자 비율'
                }
            };
            var chart = new google.visualization.GeoChart(document.getElementById('columnchart'));
            chart.draw(data, options);
        }
    </script>
<p style="color:red; font-size: 12px">※ (지역별 접종 완료자 수 / 지역별 인구 수) * 1,000,000 으로 나타내었습니다.</p>

<h2>나이별 접종률</h2>
<div id="barchart" style="width: 900px; height: 500px"></div>
<script th:inline="javascript">
        google.charts.load('current', {packages : ['bar']});
        google.charts.setOnLoadCallback(drawBarChart);

        function drawBarChart() {
            var real_data = [[${AgeData}]];
            console.log(real_data);

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'age');
            data.addColumn('number', '접종완료자 비율');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : '나이별 접종 완료자',
                hAxis : {
                    title : '접종 완료자 비율',
                },
                vAxis : {
                    title : '나이'
                },
            };
            var chart = new google.visualization.BarChart(document.getElementById('barchart'));
            chart.draw(data, options);
        }
    </script>
</div>


<h2>전체 접종률</h2>
<div id="linecolumnchart" style="width: 900px; height: 500px"></div>
<script th:inline="javascript">
        google.charts.load('current', {packages : ['corechart']});
        google.charts.setOnLoadCallback(drawComboChart);

        function drawComboChart() {
            var real_data = [[${MonthData}]];
            var accumulated_data=[[${AccumulatedData}]]
            console.log(real_data);
            console.log(accumulated_data);

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'month');
            data.addColumn('number', '접종완료자');
            data.addColumn('number', '누적 접종완료자');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key],accumulated_data[key] ]);
                console.log(data);
            });
            var options = {
                title : '월별 누적 접종 완료자',
                hAxis : {
                    title : '접종 완료자 수',
                    format: '0'
                },
                vAxis : {
                    title : '월'
                },
                seriesType: 'bars',
                series: {1: {type: 'line'}}

            };
            var chart = new google.visualization.ComboChart(document.getElementById('linecolumnchart'));
            chart.draw(data, options);

        }
    </script>
</div>

<h2>전체 접종률</h2>
<div id="linechart" style="width: 900px; height: 500px"></div>
<script th:inline="javascript">
        google.charts.load('current', {packages : ['line']});
        google.charts.setOnLoadCallback(drawLineChart);

        function drawLineChart() {
            var real_data = [[${DayData}]];
            console.log(real_data);

            var data = new google.visualization.DataTable();
            data.addColumn('string', '날짜');
            data.addColumn('number', '누적 접종완료자');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key]]);
                console.log(data);
            });
            var options = {
                title : '날짜별 누적 접종 완료자',
                hAxis : {
                    title : '날짜',
                },
                vAxis : {

                    title : '누적 접종 완료자 수',
                    format: '0',
                },

            };
            var chart = new google.visualization.LineChart(document.getElementById('linechart'));
            chart.draw(data, options);
        }
    </script>
</div>

<div id='geochart' ></div>
<script type='text/javascript'>
        google.charts.load('current', {'packages': ['geochart']});
        google.charts.setOnLoadCallback(drawVisualization);

        function drawVisualization() {
            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Country');
            data.addColumn('number', 'Value');
            var ivalue = new Array();

            data.addRows([['KR-11',0]]);
            ivalue['KR-11'] = '#3182BD';

            data.addRows([['KR-26',1]]);
            ivalue['KR-26'] = '#3182BD';

            data.addRows([['KR-27',2]]);
            ivalue['KR-27'] = '#3182BD';

            data.addRows([['KR-30',3]]);
            ivalue['KR-30'] = '#3182BD';

            data.addRows([['KR-29',4]]);
            ivalue['KR-29'] = '#3182BD';

            data.addRows([['KR-28',5]]);
            ivalue['KR-28'] = '#3182BD';

            data.addRows([['KR-31',6]]);
            ivalue['KR-31'] = '#3182BD';

            data.addRows([['KR-43',7]]);
            ivalue['KR-43'] = '#3182BD';

            data.addRows([['KR-44',8]]);
            ivalue['KR-44'] = '#3182BD';

            data.addRows([['KR-42',9]]);
            ivalue['KR-42'] = '#9ECAE1';

            data.addRows([['KR-41',10]]);
            ivalue['KR-41'] = '#9ECAE1';

            data.addRows([['KR-47',11]]);
            ivalue['KR-47'] = '#9ECAE1';

            data.addRows([['KR-48',12]]);
            ivalue['KR-48'] = '#9ECAE1';

            data.addRows([['KR-49',13]]);
            ivalue['KR-49'] = '#9ECAE1';

            data.addRows([['KR-45',14]]);
            ivalue['KR-45'] = '#9ECAE1';

            data.addRows([['KR-46',15]]);
            ivalue['KR-46'] = '#9ECAE1';

            var options = {
                backgroundColor: {fill:'#FFFFFF',stroke:'#FFFFFF' ,strokeWidth:0 },
                colorAxis:  {minValue: 0, maxValue: 21,  colors: ['#3182BD','#3182BD','#3182BD','#3182BD','#3182BD','#3182BD','#3182BD','#3182BD','#3182BD','#9ECAE1','#9ECAE1','#9ECAE1','#9ECAE1','#9ECAE1','#9ECAE1','#9ECAE1','#9ECAE1','#DEEBF7','#DEEBF7','#DEEBF7','#DEEBF7','#DEEBF7',]},
                legend: 'none',
                backgroundColor: {fill:'#FFFFFF',stroke:'#FFFFFF' ,strokeWidth:0 },
                datalessRegionColor: '#f5f5f5',
                displayMode: 'regions',
                enableRegionInteractivity: 'true',
                resolution: 'provinces',
                sizeAxis: {minValue: 1, maxValue:1,minSize:10,  maxSize: 10},
                region:'KR',
                keepAspectRatio: true,
                width:600,
                height:400,
            };

            var chart = new google.visualization.GeoChart(document.getElementById('geochart'));
            chart.draw(data, options);

        }
 </script>

</body>
</html>