<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visualization</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="mainpage"><img alt="Brand" src="img/33.png" width="100px" height="44px" style="padding-bottom:5px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="hospitalpage" style="font-size:18px; padding-right:35px;padding-left:35px;" >백신 예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservationinfo" style="font-size:18px; padding-right:35px;">예약 정보 확인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news" style="font-size:18px;padding-right:35px;">최신 정보 확인</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="myinfo" style="font-size:14px;">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="font-size:14px;">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div style="padding-top: 75px;">
<h2>지역별 접종률</h2>
<div id="columnchart" style="width: 700px; height: 400px"></div>
<script th:inline="javascript">
        google.charts.load('current', {packages : ['corechart']});
        google.charts.setOnLoadCallback(drawColumnChart);

        function drawColumnChart() {
            var real_data = [[${locationData}]];
            console.log(real_data);

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'location');
            data.addColumn('number', '접종완료자 비율');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : '지역별 접종 완료자',
                hAxis : {
                    title : '지역',
                },
                vAxis : {
                    title : '접종 완료자 비율'
                }
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('columnchart'));
            chart.draw(data, options);
        }
    </script>
<p style="color:red; font-size: 12px">※ (지역별 접종 완료자 수 / 지역별 인구 수) * 1,000,000 으로 나타내었습니다.</p>

<h2>나이별 접종률</h2>
<div id="barchart" style="width: 900px; height: 500px"></div>
<script th:inline="javascript">
        google.charts.load('current', {packages : ['bar']});
        google.charts.setOnLoadCallback(drawBarChart);

        function drawBarChart() {
            var real_data = [[${AgeData}]];
            console.log(real_data);

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'age');
            data.addColumn('number', '접종완료자 비율');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : '나이별 접종 완료자',
                hAxis : {
                    title : '접종 완료자 비율',
                },
                vAxis : {
                    title : '나이'
                },
            };
            var chart = new google.visualization.BarChart(document.getElementById('barchart'));
            chart.draw(data, options);
        }
    </script>
</div>

</body>
</html>