<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">

    <title>Cancel Reservation</title>

    <style>

        #title_1{
        width:300px;
        text-align:center;
        border: 5px solid #beb8a8;
        padding: 0.4em 1em 0.3em 1em;
        border-radius: 15px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    }
        body{
        background-color:rgba(221,212,195,0.31);
        font-family: 'Jeju Gothic', sans-serif;
    }
            #wrap {
                min-height: 65vh;
                place-items: center;
                display: grid;

            }

            table.type04 {
                border-collapse: separate;
                border-spacing: 0 15px;
                text-align: left;
                line-height: 1.5;
                margin: 5px 10px;
            }

            table.type04 th {
                width: 150px;
                padding: 10px;
                font-weight: bold;
                vertical-align: top;
                border-bottom: 1px solid #ccc;
            }

            table.type04 td {
                width: 350px;
                padding: 10px;
                vertical-align: top;
                border-bottom: 1px solid #ccc;
            }

    </style>
    <script>
        function cancel(){
            var cancel= document.cancelForm;
            if (confirm("해당 예약 내역이 취소됩니다. 취소하시겠습니까?")) {
                alert('예약이 성공적으로 취소되었습니다.');
                cancel.submit();
            }
        }
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="mainpage"><img alt="Brand" src="img/33.png" width="100px" height="44px"
                                                     style="padding-bottom:5px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="hospitalpage"
                       style="font-size:18px; padding-right:35px;padding-left:35px;">백신 예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservationinfo" style="font-size:18px; padding-right:35px;">예약 확인/취소</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news" style="font-size:18px;padding-right:35px;">관련 정보 및 안내사항</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="myinfo" style="font-size:14px;">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="font-size:14px;">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<center>
    <h3>
        <p id="title_1"><b>예약 취소</b></p>
    </h3>
</center>

<wrap id="wrap">
    <div class="card border-secondary mb-3" style="width: 600px; height: 80%;">
        <form class="cancel_reservation" name="cancelForm" id="cancelForm" action="cancel" method="post">
            <input type="text" name="Uid" id="Uid" th:value="${userrsv.Uid}" hidden="true">
            <input type="text" name="what" id="what" th:value="${what}" hidden="true">
            <table class="type04 card-body" style="position:absolute; display: grid; height: 70%; padding-top:0;">
                    <span class="all" th:if="${what}=='전체'">
                        <div>
                            <tr>
                                <td class="card-text" th:text="'1차 접종 백신 '"></td>
                                <td class="card-text" th:text="${vname1}"></td>
                            </tr>
                            <tr>
                                <td class="card-text" th:text="'1차 접종 예약 의료기관'"></td>
                                <td class="card-text" th:text="${hname1}"></td>
                            </tr>
                            <tr>
                                <td class="card-text" th:text="'1차 접종 예약 일시'"></td>
                                <td class="card-text" th:text="${userrsv.date_1} + ' ' + ${userrsv.hour_1} + '시'"></td>
                            </tr>
                        </div>

                        <div>
                            <tr>
                                <td class="card-text" th:text="'2차 접종 백신'"></td>
                                <td class="card-text" th:text="${vname2}"></td>
                            </tr>
                            <tr>
                                <td class="card-text" th:text="'2차 접종 예약 의료기관'"></td>
                                <td class="card-text" th:text="${hname2}"></td>
                            </tr>
                            <tr>
                                <td class="card-text" th:text="'2차 접종 예약 일시'"></td>
                                <td class="card-text" th:text="${userrsv.date_2} + ' ' + ${userrsv.hour_2}+ '시'"></td>
                            </tr>
                        </div>
                    </span>

                <div class="first" th:if="${what}=='1차'" style="padding-top:70px;">
                    <div>
                        <tr>
                            <td class="card-text" th:text="'1차 접종 백신'"></td>
                            <td class="card-text" th:text="${vname1}"></td>
                        </tr>
                        <tr>
                            <td class="card-text" th:text="'1차 접종 예약 의료기관'"></td>
                            <td class="card-text" th:text="${hname1}"></td>
                        </tr>
                        <tr>
                            <td class="card-text" th:text="'1차 접종 예약 일시'"></td>
                            <td class="card-text" th:text="${userrsv.date_1} + ' ' + ${userrsv.hour_1} + '시'"></td>
                        </tr>
                    </div>
                </div>

                <div class="second" th:if="${what}=='2차'"style="padding-top:70px;">
                    <tr>
                        <td class="card-text" th:text="'2차 접종 백신'"></td>
                        <td class="card-text" th:text="${vname2}"></td>
                    </tr>
                    <tr>
                        <td class="card-text" th:text="'2차 접종 예약 의료기관'"></td>
                        <td class="card-text" th:text="${hname2}"></td>
                    </tr>
                    <tr>
                        <td class="card-text" th:text="'2차 접종 예약 일시'"></td>
                        <td class="card-text" th:text="${userrsv.date_2} + ' ' + ${userrsv.hour_2}+ '시'"></td>
                    </tr>
                </div>
            </table>
        </form>
    </div>
</wrap>

<div style="text-align: center;padding-top:0px;">
    <button type="submit" class="btn btn-dark btn-lg" onclick="cancel()">예약 취소하기</button>
    <button type="button" class="btn btn-dark btn-lg disabled" onclick="location.href='reservationinfo'">돌아가기</button>
</div>

</body>
</html>