<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <title>Cancel Reservation</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="mainpage"><img alt="Brand" src="img/33.png">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="mainpage">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="myinfo">내 정보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <form class="cancel_reservation" action="cancel" method="post">
        <h2>예약 내역</h2>
        <span class="all" th:if = "${cancel_what}=='전체'">
            <div>
                <td th:text="'1차 접종 백신 : ' + ${userrsv.Vid_1}"></td>
                <br>
                <td th:text="'1차 접종 예약 의료기관 : ' + ${userrsv.Hid_1}"></td>
                <br>
                <td th:text="'1차 접종 예약 일시 : ' + ${userrsv.date_1} + ' ' + ${userrsv.hour_1} + '시'"></td>
            </div>
            <div>
                <td th:text="'2차 접종 백신 : ' + ${userrsv.Vid_2}"></td>
                <br>
                <td th:text="'2차 접종 예약 의료기관 : ' + ${userrsv.Hid_2}"></td>
                <br>
                <td th:text="'2차 접종 예약 일시 : ' + ${userrsv.date_2} + ' ' + ${userrsv.hour_2}+ '시'"></td>
            </div>
        </span>
        <div class="second" th:if = "${cancel_what}=='2차'">
            <td th:text="'2차 접종 백신 : ' + ${userrsv.Vid_2}"></td>
            <br>
            <td th:text="'2차 접종 예약 의료기관 : ' + ${userrsv.Hid_2}"></td>
            <br>
            <td th:text="'2차 접종 예약 일시 : ' + ${userrsv.date_2} + ' ' + ${userrsv.hour_2} + '시'"></td>
        </div>
        <div class="cancel">
            <h4>해당 예약 내역이 취소됩니다. 취소하시겠습니까?</h4>
            <input type="text" name="Uid" id="Uid" th:value="${userrsv.Uid}" hidden="true">
            <input type="text" name="cancel_what" id="cancel_what" th:value="${cancel_what}" hidden="true">
            <button type="submit">예</button>
            <button type="button" onclick="location.href='reservationinfo'">아니오</button>
        </div>
    </form>
</body>
</html>