<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>findID</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@500&display=swap" rel="stylesheet">
    <script type="text/javascript">
        function findIDBtn() {
            var findID = document.findID;
            var Uname = findID.Uname.value;
            var Email = join.Email.value;

            if(!Uname || !Email) {
                alert("모든 정보를 입력해주십시오.");
            } else {
                findID.submit();
            }
        };
    </script>
    <style>
        *{font-family: 'M PLUS 1 Code', sans-serif;text-align: center;}
    </style>
</head>
<body>
    <header id="header">
        <h2>아이디 찾기</h2>
    </header>
<span>이름과 이메일을 입력하십시오.</span>
<form id="findID" name="findID" action="findID" method="post">
    <div class="Uname">
        <input type="text" name="Uname" class="form-control" id="Uname exampleInputEmail1" placeholder="이름">
    </div>
    <div class="Email">
        <input type="email" name="Email" class="form-control" id="Email exampleInputEmail1" area-describedby="emailHelp" placeholder="이메일">
    </div>
    <div class="findID_btn">
        <button type="submit" class="btn btn-secondary" style="width: 190px">아이디 찾기</button>
    </div>
</form>
</body>
</html>