<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>findIF</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">

    <script type="text/javascript">
        function findPWBtn() {
            var findPW = document.findPW;
            var Uname = findPW.Uname.value;
            var ID = findPW.ID.value;

            if(!Uname || !ID) {
                alert("모든 정보를 입력해주십시오.");
            } else {
                findPW.submit();
            }
        };
    </script>
    <style>
        body{
        background-color:rgba(198,193,183,0.31);
        font-family: 'Jeju Gothic', sans-serif;
    }
      *{margin: 0 auto; padding: 0;}
      h2{
        padding: 5px 15px;
        background: #eee;
        border-radius: 10px;
        font-size: 1.1rem;
        width: 70%;
        text-align: center;
      }
      .ID{
        padding-top: 10px;
      }
    </style>
</head>
<br>
<body>
    <h2>비밀번호 찾기</h2>
    <p style="text-align: center">이름과 아이디를 입력하십시오.</p>

    <form id="findPW" name="findPW" action="findPW" method="post">
      <div class="Uname" style="width: 70%;">
        <input type="text" name="Uname" class="form-control" id="Uname" placeholder="이름">
      </div>

      <div class="ID" style="width: 70%;">
        <input type="text" name="ID" class="form-control" id="ID" placeholder="아이디">
      </div>
      <div class="findID_btn text-center" style="width: 70%; padding-top: 10px">
        <button type="submit" class="btn btn-dark" style="width: 190px">비밀번호 찾기
      </div>
  </form>
</body>
</html>