<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>findIF</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@500&display=swap" rel="stylesheet">

    <script type="text/javascript">
    </script>
    <style>
        *{font-family: 'M PLUS 1 Code', sans-serif;text-align: center;}
    </style>
</head>
<body>
    <h2>아이디 찾기</h2>
    <span th:if="${state} == 0">
        <p>일치하는 정보가 없습니다.</p>
        <input type='button' class="btn btn-secondary" value="다시 찾기" onclick="location.href='findID'">
        <input type='button' class="btn btn-secondary" value="창닫기" onClick='window.close()'>
    </span>
    <span th:if="${state} == 1">
        <p th:text="'회원님의 ID는 ' + ${userID} + '입니다'">userID</p>
        <input type='button' class="btn btn-secondary" value="창닫기" style="width: 190px;" onClick='window.close()'>
    </span>
</body>
</html>