<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Join</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .id_ok{color:blue; display: none; font-size: 12px}
        .id_already{color:red; display: none; font-size: 12px}

        .pw_ok{color:blue; display: none; font-size: 12px}
        .pw_not_ok{color:red; display: none; font-size: 12px}

        body{
            background-image : url('img/v1.jpg');
            background-size: cover;
        }
        .ssn_css{
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
        .join_box {
            background-color: #d6cdbf;
            width: 27%;
            border-radius: 10px;
            background-color: rgba( 255, 255, 255, 0.5 );
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
    var IDcheck;
    function checkID() {
        var ID = $('#ID').val(); //id값이 "id"인 입력란의 값을 저장
        $.ajax({
            url:'/idCheck', //Controller에서 인식할 주소
            type:'post', //POST 방식으로 전달
            data:{ID:ID},
             success:function(cnt){ //컨트롤러에서 넘어온 cnt값을 받는다
                if(cnt != 1){ //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 아이디
                    IDcheck = 1;
                    console.log(IDcheck);
                    $('.id_ok').css("display","inline-block");
                    $('.id_already').css("display", "none");
                } else { // cnt가 1일 경우 -> 이미 존재하는 아이디
                    IDcheck = 0;
                    console.log(IDcheck);
                    $('.id_already').css("display","inline-block");
                    $('.id_ok').css("display", "none");
                }
            },
            error:function(){
                alert("에러입니다");
            }
        });
    };

    function checkPW() {
            var password = join.PW.value;
            var password_check = join.PW_check.value;

            if (password != password_check) {
                $('.pw_not_ok').css("display","inline-block");
                $('.pw_ok').css("display", "none");
            } else {
                $('.pw_ok').css("display","inline-block");
                $('.pw_not_ok').css("display", "none");
            }
    };

    function joinBtn() {
            var join = document.join;
            var ID = join.ID.value;
            var PW = join.PW.value;
            var PW_check = join.PW_check.value;
            var Email = join.Email.value;
            var Uname = join.Uname.value;
            var phone_num = join.PW.value;
            var sex = join.sex.value;
            var age = join.age.value;
            var Lid = join.Lid.value;
            var rest_addr = join.rest_addr.value;
            var ssn1 = join.ssn1.value;
            var ssn2 = join.ssn2.value;

            if (!ID || !PW || !Email || !Uname || !phone_num || !sex || !age || !Lid || !rest_addr || !ssn1 || !ssn2) {
                alert("모든 정보를 입력해주십시오.");
            } else if (!IDcheck) {
               alert("이미 사용중인 아이디입니다.");
            } else if (PW != PW_check) {
                alert("비밀번호가 일치하지 않습니다.");
            } else {
                join.submit();
            }
    };


    </script>

</head>
<body>


<center>
    <img src="/img/3.png" alt="Image error" style="padding-top:40px; padding-bottom: 0px;">
</center>
>

<form id="join" name="join" action="join" method="post">
    <h3>
        <p style="margin:0 auto; width:500px; text-align: center;border: 5px solid #d6cdbf; padding: 0.3em 1em;border-radius: 2px;">
            <b>백신 예약 시스템 회원가입</b></p>
    </h3>
    <div class="join_box" style="margin:0 auto;">
        <div style="padding:20px;">

            <div class="join_ID">
                <div class="form-group">
                    <h5>아이디</h5>
                    <input class="form-control" type="text" name="ID" id="ID" placeholder="아이디" required
                           oninput="checkID()" style="padding:3px">
                    <span class="id_ok">사용 가능한 아이디입니다.</span>
                    <span class="id_already">이미 사용중인 아이디입니다.</span>
                </div>
            </div>
            <div class="form-group">
                <h5>비밀번호</h5>
                <input class="form-control" type="password" name="PW" id="PW" placeholder="비밀번호" required
                       oninput="checkPW()" style="padding:3px">
            </div>
            <div class="form-group">
                <h5>비밀번호 확인</h5>
                <div class="join_PW">
                    <input class="form-control" type="password" name="PW_check" id="PW_check" placeholder="비밀번호 확인"
                           required oninput="checkPW()" style="padding:3px">
                    <span class="pw_ok">비밀번호가 일치합니다.</span>
                    <span class="pw_not_ok">비밀번호가 일치하지 않습니다.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="join_Email">
                    <h5>이메일</h5>
                    <input class="form-control" type="email" name="Email" id="Email" placeholder="이메일"
                           style="padding:3px">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <h5>이름</h5>
                    <input class="form-control" type="text" name="Uname" id="Uname" placeholder="이름"
                           style="padding:3px">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <h5>전화번호</h5>
                    <input class="form-control" type="text" name="phone_num" id="phone_num" placeholder="전화번호"
                           style="padding:3px">

                    <span class="phone" style="color: black; font-size: 12px">-를 뺀 숫자만 입력해주세요.</span>
                </div>
            </div>
            <div class="form-group">

                <div>
                    <h5>성별</h5>
                    <input type="radio" name="sex" value="M" checked="checked">남성
                    <input type="radio" name="sex" value="F" checked>여성
                </div>
            </div>
            <div class="form-group">
                <div>
                    <h5>나이</h5>
                    <input class="form-control" type="text" name="age" id="age" placeholder="나이">
                </div>
            </div>
            
            <div class="form-group">
                <div>
                    <h5>지역</h5>
                    <select name="Lid">
                        <option value="2">서울특별시</option>
                        <option value="31">경기도</option>
                        <option value="32">인천광역시</option>
                        <option value="33">강원도</option>
                        <option value="41">충청남도</option>
                        <option value="42">대전광역시</option>
                        <option value="43">충청북도</option>
                        <option value="44">세종특별자치시</option>
                        <option value="51">부산광역시</option>
                        <option value="52">울산광역시</option>
                        <option value="53">대구광역시</option>
                        <option value="54">경상북도</option>
                        <option value="55">경상남도</option>
                        <option value="61">전라남도</option>
                        <option value="62">광주광역시</option>
                        <option value="63">전라북도</option>
                        <option value="64">제주특별자치도</option>
                    </select>
                    <input class="form-control" type="text" name="rest_addr" id="rest_addr" placeholder="나머지 주소">
                </div>
            </div>
            <div>
                <div>
                    <h5>주민번호</h5>
                    <center>
                    <input class="ssn_css" type="text" name="ssn1" id="ssn1" placeholder="앞자리" style="width:45%;">-
                    <input class="ssn_css" type="text" name="ssn2" id="ssn2" placeholder="뒷자리" style="width:45%; ">
                    </center>
                </div>
            </div>
            <center>
                <div>
                    <br>
                    <div class="goback_login">
                        <input type="button" class="btn btn-dark" value="회원가입" onclick="joinBtn()">
                    </div>
                </div>
            </center>
        </div>
    </div>
</form>
</body>
</html>