<!DOCTYPE HTML>
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">

    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
    #navbarColor02 .{}

        body{
            background-image : url('img/v1.jpg');
            background-size: cover;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img alt="Brand" src="img/33.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">메뉴1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">메뉴2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">메뉴3</a>
                </li>

                <!--
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </li>
                -->

            </ul>
        </div>
    </div>
</nav>

<form class="login" action="/login" method="post">
    <center>
        <div class="form-group">
            <h4><label class="form-label mt-4">Login</label></h4>

            <div class="form-floating mb-3">
                <label for="ID">ID</label>
                <input type="text" class="form-control" name="ID" id="ID" placeholder="아이디" style="width:230px;height:30px; border-radius: 0.5em;">
            </div>

            <div class="form-floating">
                <label for="PW">PASSWORD</label>
                <input type="password" class="form-control" name="PW" id="PW" placeholder="비밀번호" style="width: 230px;height: 30px;border-radius: 0.5em;">
            </div>
        </div>
        <button type="submit" class="btn btn-secondary">로그인</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='join'">회원가입</button>

    </center>
</form>
<!--   <div class="login_id">
       <h4>ID</h4>
       <input type="text" name="ID" id="ID" placeholder="아이디">
   </div>
   <div class="login_pw">
       <h4>Password</h4>
       <input type="password" name="PW" id="PW" placeholder="비밀번호">
   </div>
   <br>
   <div class="login_button">
       <input type="submit" value="로그인">
   </div>
-->
</body>


</html>