<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <title>Modify Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="mainpage"><img alt="Brand" src="img/33.png" width="100px" height="44px" style="padding-bottom:5px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="hospitalpage" style="font-size:18px; padding-right:35px;padding-left:35px;" >백신 예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservationinfo" style="font-size:18px; padding-right:35px;">예약 정보 확인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news" style="font-size:18px;padding-right:35px;">최신 정보 확인</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="myinfo" style="font-size:14px;">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="font-size:14px;">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
<h2>정보 수정</h2>

<form class="modify" action="/modify" method="post">
    <div class="name">이름 :
        <input type="text" name="Uname" id="Uname" th:value="${modifyUserinfo.Uname}">
    </div>
    <div class="id" >
        <p th:text="'아이디 : ' + ${modifyUserinfo.ID}"></p>
        <input type="text" name="ID" id="ID" th:value="${modifyUserinfo.ID}" hidden="true">
    </div>
    <div class="pw">비밀번호 :
        <input type="text" name="PW" id="PW" th:value="${modifyUserinfo.PW}">
    </div>
    <div class="ssn">
        <p th:text="'주민등록번호 : ' + ${modifyUserinfo.ssn1} +'-' + ${modifyUserinfo.ssn2} "></p>
    </div>
    <div class="sex">
        <p th:text="'성별 : ' + ${modifyUserinfo.sex}"></p>
    </div>
    <div class="phone_num">전화번호 :
        <input type="text" name="phone_num" id="phone_num" th:value="${modifyUserinfo.phone_num}">
    </div>
    <div class="email">email :
        <input type="email" name="Email" id="Email" th:value="${modifyUserinfo.Email}">
    </div>

    <div class="location">
        <select name="Lid">
            <option value="2" th:if = "${modifyUserinfo.Lid==2}"selected>서울특별시</option>
            <option value="2" th:unless = "${modifyUserinfo.Lid==2}">서울특별시</option>
            <option value="31" th:if = "${modifyUserinfo.Lid==31}"selected>경기도</option>
            <option value="31" th:unless = "${modifyUserinfo.Lid==31}">경기도</option>
            <option value="32" th:if = "${modifyUserinfo.Lid==32}" selected>인천광역시</option>
            <option value="32" th:unless = "${modifyUserinfo.Lid==32}">인천광역시</option>
            <option value="33" th:if = "${modifyUserinfo.Lid==33}"selected>강원도</option>
            <option value="33" th:unless = "${modifyUserinfo.Lid==33}">강원도</option>
            <option value="41" th:if = "${modifyUserinfo.Lid==41}"selected>충청남도</option>
            <option value="41" th:unless = "${modifyUserinfo.Lid==41}">충청남도</option>
            <option value="42" th:if = "${modifyUserinfo.Lid==42}"selected>대전광역시</option>
            <option value="42" th:unless = "${modifyUserinfo.Lid==42}">대전광역시</option>
            <option value="43" th:if = "${modifyUserinfo.Lid==43}"selected>충청북도</option>
            <option value="43" th:unless = "${modifyUserinfo.Lid==43}">충청북도</option>
            <option value="44" th:if = "${modifyUserinfo.Lid==44}"selected>세종특별자치시</option>
            <option value="44" th:unless = "${modifyUserinfo.Lid==44}">세종특별자치시</option>
            <option value="51" th:if = "${modifyUserinfo.Lid==51}"selected>부산광역시</option>
            <option value="51" th:unless = "${modifyUserinfo.Lid==51}">부산광역시</option>
            <option value="52" th:if = "${modifyUserinfo.Lid==52}"selected>울산광역시</option>
            <option value="52" th:unless = "${modifyUserinfo.Lid==52}">울산광역시</option>
            <option value="53" th:if = "${modifyUserinfo.Lid==53}"selected>대구광역시</option>
            <option value="53" th:unless = "${modifyUserinfo.Lid==53}">대구광역시</option>
            <option value="54" th:if = "${modifyUserinfo.Lid==54}"selected>경상북도</option>
            <option value="54" th:unless = "${modifyUserinfo.Lid==54}">경상북도</option>
            <option value="55" th:if = "${modifyUserinfo.Lid==55}"selected>경상남도</option>
            <option value="55" th:unless = "${modifyUserinfo.Lid==55}">경상남도</option>
            <option value="61" th:if = "${modifyUserinfo.Lid==61}"selected>전라남도</option>
            <option value="61" th:unless = "${modifyUserinfo.Lid==61}">전라남도</option>
            <option value="62" th:if = "${modifyUserinfo.Lid==62}"selected>광주광역시</option>
            <option value="62" th:unless = "${modifyUserinfo.Lid==62}">광주광역시</option>
            <option value="63" th:if = "${modifyUserinfo.Lid==63}"selected>전라북도</option>
            <option value="63" th:unless = "${modifyUserinfo.Lid==63}">전라북도</option>
            <option value="64" th:if = "${modifyUserinfo.Lid==64}"selected>제주특별자치도</option>
            <option value="64" th:unless = "${modifyUserinfo.Lid==64}">제주특별자치도</option>
        </select>
        <input type="text" name="rest_addr" id="rest_addr" th:value="${modifyUserinfo.rest_addr}">
    </div>

    <div class="goback">
        <button type="button" onclick="location.href='mainpage'">돌아가기</button>
        <button type="submit">수정완료</button>
    </div>

</form>

</body>
</html>