<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <input type="button" onclick="location.href='mainpage'" value="메인으로 돌아가기">
</div>
<div class="id">
    <p th:text="'아이디 : ' + ${id}"></p>
</div>
<div class="name">
    <p th:text="'이름 : ' + ${name}"></p>
</div>
<div class="email">
    <p th:text="'email : ' + ${email}"></p>
</div>
<div class="phone_num">
    <p th:text="'전화번호 : ' + ${phone_num}"></p>
</div>
<div class="location">
    <p th:text="'주소 : ' + ${location}"></p>
</div>
<div class="ssn1">
    <p th:text="'생년월일 : ' + ${ssn1}"></p>
</div>
</body>
</html>