<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="id">
    <p th:text="'id : ' + ${id}"></p>
</div>
<div class="name">
    <p th:text="'name : ' + ${name}"></p>
</div>
<div class="email">
    <p th:text="'email : ' + ${email}"></p>
</div>
<div class="phone_num">
    <p th:text="'phone_num : ' + ${phone_num}"></p>
</div>
<div class="location">
    <p th:text="'location : ' + ${location}"></p>
</div>
<div class="age">
    <p th:text="'age : ' + ${age}"></p>
</div>
</body>
</html>