<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Reservation Info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">

    <title>My Reservation Info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
    body{
        background-color:rgba(221,212,195,0.31);
        font-family: 'Jeju Gothic', sans-serif;
    }
        #title_1{
        width:300px;
        text-align:center;
        border: 5px solid #beb8a8;
        padding: 0.4em 1em 0.3em 1em;
        border-radius: 15px;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    }
        table.type04 {
            border-collapse: separate;
            border-spacing: 0 15px;
            text-align: left;
            line-height: 1.5;
            margin : 0px 10px;
        }
        table.type04 th {
            width: 150px;
            padding: 10px;
            font-weight: bold;
            vertical-align: top;
            border-bottom: 1px solid #ccc;
        }
        table.type04 td {
            width: 350px;
            padding: 10px;
            vertical-align: top;
            border-bottom: 1px solid #ccc;
        }
        #wrap{
            display: grid;
            place-items: center;
            min-height: 80vh;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="mainpage"><img alt="Brand" src="img/33.png" width="100px" height="44px" style="padding-bottom:5px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="hospitalpage" style="font-size:18px; padding-right:35px;padding-left:35px;" >백신 예약</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reservationinfo" style="font-size:18px; padding-right:35px;">예약 정보 확인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news" style="font-size:18px;padding-right:35px;">관련 정보 및 안내사항</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="myinfo" style="font-size:14px;">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="font-size:14px;">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
    <wrap id="wrap">
        <center>
            <h3>
                <p id="title_1"><b>예약 내역</b></p>
            </h3>
        </center>
        <span th:if="${rsvstate}==0">
                <h4  style="border-radius: 15px 15px 15px 0; border-bottom: 5px solid #B9C4C4; padding: 0.5em; background: #CEDADA;">예약 내역이 없습니다!</h4>
             </span>

        <table class="type04 card-body" style="padding-top:0;" th:unless="${rsvstate}==0">
            <div id="info">
                <tr>
                    <td th:text="'접종자 이름'"></td>
                    <td th:text="${userinfo.Uname}"></td>
                </tr>

                <tr>
                    <td th:text="'주민등록번호'"></td>
                    <td th:text="${userinfo.ssn1} +'-' + ${userinfo.ssn2}"></td>
                </tr>
            </div>

            <div class="first">
                <tr></tr>
                <tr>
                    <td th:text="'1차 접종 백신'"></td>
                    <td th:text="${vname1}"></td>
                </tr>

                <tr>
                    <td th:text="'1차 접종 예약 의료기관'"></td>
                    <td th:text="${hname1}"></td>
                </tr>

                <tr>
                    <td th:text="'1차 접종 예약 일시'"></td>
                    <td th:text="${userrsv.date_1} + ' ' + ${userrsv.hour_1} + '시'"></td>
                </tr>
            </div>

            <span th:if="${rsvstate}==1">
                    <div class="second">
                        <tr></tr>
                        <tr>
                            <td th:text="'2차 접종 백신'"></td>
                            <td th:text="${vname2}"></td>
                        </tr>

                        <tr>
                            <td th:text="'2차 접종 예약 의료기관'"></td>
                        <td th:text="${hname2}"></td>
                        </tr>

                        <tr>
                            <td th:text="'2차 접종 예약 일시'"></td>
                            <td th:text="${userrsv.date_2} + ' ' + ${userrsv.hour_2} + '시'"></td>
                        </tr>
                    </div>
            </span>

            <span th:if="${rsvstate}==4">
                    <tr></tr>
                    <tr>
                        <td th:text="'2차 접종 백신'"></td>
                        <td th:text="${vname2}"></td>
                    </tr>

                    <tr>
                        <td th:text="'2차 접종 예약 의료기관'"></td>
                        <td th:text="${hname2}"></td>
                    </tr>

                    <tr>
                        <td th:text="'2차 접종 예약 일시'"></td>
                        <td th:text="${userrsv.date_2} + ' ' + ${userrsv.hour_2} + '시'"></td>
                    </tr>
            </span>

            <span th:if="${rsvstate}==5">
                <tr></tr>
                <tr>
                    <td th:text="'2차 접종 백신'"></td>
                    <td th:text="${vname2}"></td>
                </tr>

                <tr>
                    <td th:text="'2차 접종 예약 의료기관'"></td>
                    <td th:text="${hname2}"></td>
                </tr>
                <tr>
                    <td th:text="'2차 접종 예약 일시'"></td>
                    <td th:text="${userrsv.date_2} + ' ' + ${userrsv.hour_2} + '시'"></td>
                </tr>
            </span>
        </table>
    </wrap>
    <div style="text-align: center; padding-bottom: 20px;">
            <div th:if="${rsvstate}==1">
                <button type="button" class="btn btn-lg btn-dark disabled" onclick="location.href='cancel?what=전체'">예약 전체 취소</button>
                <button type="button" class="btn btn-lg btn-dark disabled" onclick="location.href='cancel?what=2차'">2차 예약 취소</button>
                <button type="button" class="btn btn-lg btn-dark disabled" onclick="location.href='review'">병원 리뷰 작성/확인</button>
            </div>

            <div th:if="${rsvstate}==2">
                <button type="button" class="btn btn-lg btn-dark disabled" onclick="location.href='cancel?what=1차'">1차 예약 취소</button>
                <button type="button" class="btn btn-lg btn-dark disabled" onclick="location.href='review'">병원 리뷰 작성/확인</button>
            </div>

            <div th:if="${rsvstate}==3">
                <button type="button" class="btn btn-lg btn-dark disabled" onclick="location.href='review'">병원 리뷰 작성/확인</button>
            </div>

            <div th:if="${rsvstate}==4">
                <button type="button" class="btn btn-lg btn-dark disabled" onclick="location.href='cancel?what=2차'">2차 예약 취소</button>
                <button type="button" class="btn btn-lg btn-dark disabled" onclick="location.href='review'">병원 리뷰 작성/확인</button>
            </div>

            <div th:if="${rsvstate}==5">
                <button type="button" class="btn btn-lg btn-dark disabled" onclick="location.href='review'">병원 리뷰 작성/확인</button>
            </div>
    </div>
</body>
</html>